streamlit==1.42.0
streamlit-option-menu
streamlit_lottie
plotly

numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1
scikit-surprise
joblib==1.4.2

datasets==3.3.0
transformers==4.33.2
huggingface-hub==0.16.4
sentence-transformers==2.2.2
torch==2.0.1
rich==13.3.4

llama-index==0.15.3
llama-index-llms-huggingface==0.15.3
llama-index-embeddings-huggingface==0.15.3
