streamlit==1.42.0
streamlit-option-menu
streamlit_lottie
plotly

numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1
scikit-surprise
joblib==1.4.2

datasets==3.3.0
transformers==4.48.3
huggingface-hub==0.28.1
sentence-transformers==3.4.1
torch==2.6.0

# llama-index core
llama-index==0.12.17

# 버전 맞춰서!
llama-index-llms-huggingface==0.1.2
llama-index-embeddings-huggingface==0.1.2
