streamlit
streamlit-option-menu
numpy
pandas
scikit-learn
datasets
huggingface_hub
joblib
llama_index.llms.huggingface_api
llama_index
llama-index-embeddings-huggingface
transformers
torch
scikit-surprise

